@import "../base/color";

footer {
  background-color: $elementBackgroundGrey;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p {
    margin-bottom: 0;
    color: $textColorGrey;
  }
}
