extends ../../../../../views/layout
block content
    .page-header-wrapper
        .page-header
            h3 New Repository
        form.form-horizontal(id='new-repository-form', method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            .form-group
                label.col-sm-3.control-label(for='name') Name
                .col-sm-7
                    input.form-control(type='text', name='name', id='name', placeholder='Name', autofocus)
            .form-group
                label.col-sm-3.control-label(for='description') Description
                .col-sm-7
                    textarea.form-control(name='description', id='description', placeholder='Description')
            .form-group
                label.col-sm-3.control-label(for='visibility') Visibility
                .col-sm-7
                    select.form-control(name='visibility', id='visibility')
                        option Public (everybody can see it)
                        option Member-only (only for registered users)
                        option Organisation (only members of your organisation can see it)
                        option Private (only you and invited members can see it)
            .form-group
                .row
                    label.col-sm-3.control-label(for='clone') Allow clones
                    .col-md-1
                        input.col-md-1.form-control(type='checkbox', name='clone', id='clone', checked=true)
                    label.col-sm-2.control-label(for='issue') Issue tracker
                    .col-md-1
                        input.col-md-1.form-control(type='checkbox', name='issue', id='issue', checked=true)
                    label.col-sm-2.control-label(for='wiki') Wiki integration
                    .col-md-1
                        input.col-md-1.form-control(type='checkbox', name='wiki', id='wiki', checked=true)
            .form-group
                .col-sm-offset-3.col-sm-7
                    button.col-sm-3.btn.btn-primary(type='submit') Create Repository
